body {
    font-family: 'Coral Pixels', monospace;
    margin: 20px;
    background-color: papayawhip;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: blue;
}

